<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Catalog Page</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/w3.css">
    <link rel="stylesheet" href="/css/flex.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.1/animate.min.css'>
    <link rel="stylesheet" href="/css/catalog.css">
</head>
<body>



<div style="margin-top: 83px">
    <div class="row">
        <div id="courses" class="col-xs-12">
            <div class="filter-group row course-cata w3-light-gray" style="padding-left: 20px; padding-right: 20px">
                <div class="form-group col-xs-12 col-sm-12 col-md-4" style="margin-top: 15px">
                    <input type="text" class="search form-control search-cata" placeholder=" Let's learn..." />
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-4 js-filter-group age-btn catalog-all">
                    <div style="font-size: 16px; font-weight: bold"><span>Age Group:</span></div>
                    <div class="radio-inline">
                        <label>
                            <input class="filter-all cata-type is-checked" type="button" value="all" name="age" id="age-all" />
                        </label>
                    </div>
                    <div class="radio-inline">
                        <label>
                            <input class="filter cata-type" type="button" value="8-12" name="age" id="age-1"/>
                        </label>
                    </div>
                    <div class="radio-inline">
                        <label>
                            <input class="filter cata-type" type="button" value="12-16" name="age" id="age-2"/>
                        </label>
                    </div>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-4 js-filter-group subject-btn catalog-all">
                    <div style="font-size: 16px; font-weight: bold"><span>Programs:</span></div>
                    <div class="radio-inline">
                        <label>
                            <input class="filter-all cata-type is-checked" type="button" value="all" name="subject" id="subject-all" />
                        </label>
                    </div>
                    <div class="radio-inline">
                        <label>
                            <input class="filter cata-type" type="button" value="afterschool" name="subject" id="subject-afterschool" />
                        </label>
                    </div>
                    <div class="radio-inline">
                        <label>
                            <input class="filter cata-type" type="button" value="summer" name="subject" id="subject-summer"/>
                        </label>
                    </div>

                    <div class="radio-inline">
                        <label>
                            <input class="filter cata-type" type="button" value="online" name="subject" id="subject-online" />
                        </label>
                    </div>
                </div>
                <div class="form-group col-xs-12 col-sm-12" style="display: flex; justify-content: center">
                    <button class="btn btn-clear" onclick="resetList();">Clear</button>
                </div>
            </div>

            <div class="container">
                <ul class="list course">
                    {{#each doc}}
                        <!--<div class="course-1">-->
                       <li class="list--list-item" data-age='{{this.age}}' style="border: none">
                            <a href="{{this.courseId}}" style="text-decoration: none;">
                                <div class="course-1">
                                    <img src="{{this.coursePic}}" class="course-pic" alt="image missing">
                                    <div style="margin: 10px">
                                        <h3 class="courseId">{{this.courseId}}</h3>
                                        <p class= "courseName"><span style="font-weight: bold">Course Name:</span> {{this.courseName}}</p>
                                        <p class="agegroup"><span style="font-weight: bold">Age Group:</span> {{this.age}}</p>
                                        <p class="subject"><span style="font-weight: bold; padding-bottom: 5px">Programs:</span> {{this.subject}}</p>
                                        <!--<p class="description">{{this.description}}</p>-->
                                    </div>
                                </div>
                            </a>
                        </li>
                        <!--</div>-->
                    {{/each}}
                </ul>

                <!--<ul class="list">-->
                    <!--{{#each doc}}-->
                        <!--<li class="list--list-item" data-age='{{this.age}}'>-->
                            <!--<h3 class="courseId">{{this.courseId}}</h3>-->
                            <!--<p class= "courseName">{{this.courseName}}</p>-->
                            <!--<p class="agegroup">{{this.age}}</p>-->
                            <!--<p class="subject">{{this.subject}}</p>-->
                            <!--<p class="description">{{this.description}}</p>-->
                        <!--</li>-->
                    <!--{{/each}}-->
                <!--</ul>-->

                <div class="no-result" style="font-weight: bold; font-size: 20px; width: 270px; margin-left: auto; margin-right: auto">No Result Has Been Found!</div>
                <div style="margin-bottom: 20px; display: flex; justify-content: center"><ul class="pagination"></ul></div>
            </div>

        </div>
    </div>
</div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
    <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js'></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/list.pagination.js/0.1.1/list.pagination.js'></script>
    <script src="/js/footer.js"></script>
    <script  src="/js/catalog.js"></script>
</body>
</html>