<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/w3.css">
    <link rel="stylesheet" href="/css/flex.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.1/animate.min.css'>
    <link rel="stylesheet" href="/css/catalog.css">
</head>
<body>
<div class="container" style="margin-top: 130px;">
    <div class="row">
        <div id="courses" class="col-xs-12">
            <div class="filter-group row">
                <div class="form-group col-xs-12 col-sm-12 col-md-4">
                    <input type="text" class="search form-control" placeholder="Search" />
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-4 js-filter-group age-btn">
                    <div class="radio-inline">
                        <label>
                            <input class="filter-all is-checked" type="button" value="all" name="age" id="age-all" />
                        </label>
                    </div>
                    <div class="radio-inline">
                        <label>
                            <input class="filter" type="button" value="8-12" name="age" id="age-1"/>
                        </label>
                    </div>
                    <div class="radio-inline">
                        <label>
                            <input class="filter" type="button" value="12-16" name="age" id="age-2"/>
                        </label>
                    </div>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-4 js-filter-group subject-btn">
                    <div class="radio-inline">
                        <label>
                            <input class="filter-all is-checked" type="button" value="all" name="subject" id="subject-all" />
                        </label>
                    </div>
                    <div class="radio-inline">
                        <label>
                            <input class="filter" type="button" value="afterschool" name="subject" id="subject-afterschool" />
                        </label>
                    </div>
                    <div class="radio-inline">
                        <label>
                            <input class="filter" type="button" value="summer" name="subject" id="subject-summer"/>
                        </label>
                    </div>

                    <div class="radio-inline">
                        <label>
                            <input class="filter" type="button" value="online" name="subject" id="subject-online" />
                        </label>
                    </div>
                </div>
                <div class="form-group col-xs-12 col-sm-12">
                    <button class="btn btn-danger" onclick="resetList();">Clear</button>
                </div>
            </div>






            <ul class="list">
                {{#each doc}}
                <li class="list--list-item" data-age='{{this.age}}'>
                    <h3 class="courseId">{{this.courseId}}</h3>
                    <p class= "courseName">{{this.courseName}}</p>
                    <p class="agegroup">{{this.age}}</p>
                    <p class="subject">{{this.subject}}</p>
                    <p class="description">{{this.description}}</p>
                </li>
                {{/each}}
           <!--      <li class="list--list-item" data>
                    <h3 class="name">Jonas</h3>
                    <p class="born">1985</p>
                    <p class="address">3 Main N Ave.</p>
                </li> -->
            </ul>
            <div class="no-result">No Results</div>
            <ul class="pagination"></ul>
        </div>
    </div>
</div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
    <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/list.pagination.js/0.1.1/list.pagination.js'></script>
    <script src="/js/footer.js"></script>
    <script  src="/js/catalog.js"></script>
</body>
</html>