<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile Page</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/signIn.css">
    <link rel="stylesheet" href="/css/w3.css">
    <link rel="stylesheet" href="/css/course.css">
    <link rel="stylesheet" href="/css/section.css">
    <link rel="stylesheet" href="/css/comment.css">
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/footer.js"></script>
</head>
<body>
<div class="container target" style="display: flex; flex-direction: row; margin-top: 150px; margin-bottom: 150px">
    <div class="profile-left">
        <div class="profile-title" style="padding-top: 30px">
            <div class="col-sm-5" style="margin-left: 15%">
                {{#if parent}}
                    <img title="profile image" class="img-circle img-responsive" src="https://image.flaticon.com/icons/svg/1460/1460039.svg">
                {{else if kid}}
                    <img title="profile image" class="img-circle img-responsive" src="https://image.flaticon.com/icons/svg/163/163834.svg">
                {{else}}
                    <img title="profile image" class="img-circle img-responsive" src="https://image.flaticon.com/icons/svg/167/167752.svg">
                {{/if}}
            </div>
        </div>
        <br>
        <div class="col-sm-9">
            <div class="profile-info">
                <h3>Profile</h3>
                <div class="list-group-item text-muted" style="color: black"><span style="font-weight: bold">Username: </span>{{username}}</div>
                <div class="list-group-item text-muted" style="color: black"><span style="font-weight: bold">Role: </span>{{doc.role}}</div>
                {{#if kid}}
                <div class="list-group-item text-muted" style="color: black"><span style="font-weight: bold">Parent ID: </span>{{doc.parent}}</div>
                {{/if}}
            </div>

        </div>
    </div>

    <div class="profile-right">
        {{#if parent}}
            <div class="col-sm-9">
                {{#each kids}}
                    <div class="panel panel-default">
                        <div class="panel-heading"><span style="font-weight: bold">Your Kid: </span>{{this.username}}</div>
                        <div class="panel-body">
                            <div class="row">
                                {{#each this.courses}}
                                <div class="col-md-6">
                                    <div class="thumbnail" style="padding-left: 8%; padding-bottom: 5%">
                                        <h3>
                                            {{this.courseId}}
                                        </h3>
                                        <p>
                                            {{#if this.checked}} 
                                                <div><span style="font-weight: bold">Status: </span>Finished</div>
                                            {{else}}
                                                <div><span style="font-weight: bold">Status: </span>Ongoing</div>
                                            {{/if}}
                                        </p>
                                    </div>
                                </div>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        {{else if kid}}
            <div class="col-sm-9">
                <div class="panel-body">
                    <div class="row">
                        {{#each doc.courses}}
                            <div class="col-md-6">
                                <div class="thumbnail" style="padding-left: 8%; padding-bottom: 5%">
                                    <h3>
                                        {{this.courseId}}
                                    </h3>
                                    {{#if this.checked}} 
                                        <div><span style="font-weight: bold">Status: </span>Finished</div>
                                    {{else}}
                                        <div><span style="font-weight: bold">Status: </span>Ongoing</div>
                                    {{/if}}
                                    
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        {{else}}
            <div class="col-sm-10">
                <div class="panel-body">
                    <div class="row">
                        {{#each courses}}
                            <div class="col-md-6">
                                <div class="thumbnail" style="padding-left: 8%; padding-bottom: 5%">
                                    <h3>
                                        {{this.courseId}}
                                    </h3>
                                    <div><span style="font-weight: bold">Course: </span>{{this.courseName}}</div>
                                    <div><span style="font-weight: bold">Programs: </span>{{this.subject}}</div>
                                    </p>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        {{/if}}
    </div>
</div>
</body>
</html>