<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Section Page</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/signIn.css">
    <link rel="stylesheet" href="/css/w3.css">
    <link rel="stylesheet" href="/css/course.css">
    <link rel="stylesheet" href="/css/section.css">
    <link rel="stylesheet" href="/css/comment.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/footer.js"></script>
</head>
<body>
<div class=" w3-center" style="width: 100%; overflow: auto; display: block;">
    <div class="title" style="width: 100%; margin-top: 83px">
        <div class="text-title">
            <h1>{{doc.sectionId}}</h1>
            <p style="font-size: 1.5rem; font-weight: bold"> <i>{{doc.subtitle}}</i></p>
            <div class="tag"></div>
        </div>
    </div>

    <div style="width: 100%; margin-left: auto; margin-right: auto; margin-bottom: 60px; margin-top: 30px;">
        <iframe src="{{doc.video}}" width="880" height="560" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        <div style="width: 80%; margin-left: auto; margin-right: auto;"><p style="font-size: 15px; text-align: left;">{{doc.description}}</p></div>
    
    </div>


    {{#if nonfirst}}
        <form action="{{doc.sectionId}}/prev" method="POST">
            <input type="submit" name="previous" value="Previous" />
        </form>
    {{/if}}

    {{#if nonlast}}
        <form action="{{doc.sectionId}}/last" method="POST">
            <input type="submit" name="next" value="Next" />
        </form>
    {{else}} 
        {{#if kid}}
        <form action="{{doc.sectionId}}/check" method="POST">
            <input type="submit" name="complete" value="Complete" />
        </form>
        {{/if}}
    {{/if}}

    <div style="width: 100%; height: 40px; background-color: rgb(26, 190, 229); margin-top: 40px; margin-bottom: 60px"></div>

    <h1>Comments</h1>

    <div class="comments">

        <div class="comment-field">
            <div class="comment_block">
                {{#each doc.comments}}
                     <div class="new_comment">
                        <div class="comment_body">
                            <p>
                                <div class="replied_to">
                                    <p><span class="user">{{this.userId}}</span>{{this.content}}</p>
                                   <div class="comment_details">
                                    <ul>
                                        <li><i class="fa fa-clock-o"></i>{{this.time}}</li>
                                        <li><i class="fa fa-pencil"></i> <span class="user">{{this.userId}}</span></li>
                                    </ul>
                                </div>
                                </div>
                            </p>   
                        </div>
                        <div class="comment_toolbar">
                            {{#each this.replies}}
                                {{this.content}}
                                <div class="comment_details">
                                    <ul>
                                        <li><i class="fa fa-clock-o"></i>{{this.time}}</li>
                                        <li><i class="fa fa-pencil"></i> <span class="user">{{this.userId}}</span></li>
                                    </ul>
                                </div>
                            {{/each}}
                        
                            <form class="comment-form" method="POST" action="{{this.sectionId}}/{{this.commentId}}/addReply">
                                <input type="text" name="reply" placeholder=" Add Your reply.." class="addComment">
                                <input type="submit" value="Submit" class="comment-btn">
                            </form>
                        </div>
                     </div>
                {{/each}}


            </div>
        </div>

    </div>

    <div style="margin-top: 20px; margin-bottom: 20px; display: flex; justify-content: center"><ul class="pagination"></ul></div>

    <form method="POST" action="{{doc.sectionId}}/addComment">
        <div>
            <textarea name="content" class="create-comment" placeholder=" Add Your Comment.."></textarea>
        </div>
        <input type="submit" value="Submit" class="signIn-btn">
    </form>
</div>
</body>
</html>